[Desktop Entry]
Name=qt-sandbox
Comment=Qt Sandbox
Exec=qt-sandbox
Icon=qt-sandbox
StartupNotify=true
Terminal=false
Type=Application
Categories=Office;
